
body {
    position: relative;
    padding-top: 70px;
    padding-bottom: 30px;
}

.square {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    left: 200px;
    top: 200px;
}

.rectangle {
    position: absolute;
    width: 200px;
    height: 100px;
    background: red;
    left: 200px;
    top: 200px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid blue;
    border-right: 100px solid transparent;
    left: 200px;
    top: 200px;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 200px;
    top: 200px;
}
