body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px dotted #ddd;
    text-align: center;
}

.me_image {
    height: 150px;
    float: right;
}
