[MESSAGES CONTROL]

disable=locally-disabled,locally-enabled,too-many-instance-attributes,useless-super-delegation,too-few-public-methods,useless-object-inheritance


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80
# Min number of characters in names
variable-rgx=[a-z_][a-z0-9_]{0,30}$
argument-rgx=[a-z_][a-z0-9_]{0,30}$
argument-name-hint=[a-z_][a-z0-9_]{0,30}$
attr-rgx=[a-z_][a-z0-9_]{0,30}$
const-rgx=(([A-Za-z_][A-Za-z0-9_]*)|(__.*__))$

# Min number of arguments
max-args=6

[REPORTS]

#reports=no
