<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.10.4/brython.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.10.4/brython_stdlib.js">
    </script>
</head>

<body onload="brython()">

    <a href="execute/flight">Will use "code/flight" as directory as location for files</a>
    <br>
    <a href="execute/menu">Will use "code/menu" as directory as location for files</a>


</body>

</html>