.start_btn {
    font-size: 25px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 1.2em;
}

h1 {
    text-align: center;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}
