{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Crazy Allanz questionaire?!?!??!</h1>
    </div>
    <div>
        <h3 class="center">Ahhhh you made it through my questionaire, let's see how you did shall we?</h3>
        <div class="row">
            <p class="center">
                Your have {{score}} points.<br>
                Max score was {{max_score}} points.
            </p>
        </div>
    </div>
</div>

{% include 'footer.html' %}