{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Kursen oopython (v2)</h1>
        <h3>
            Kursen Objektorienterad design och programmering med Python, a.k.a. oopython,
            lär ut objektorienterad analys och design tillsammans med objektorienterad programmering med Python.

            Kursen använder sig till stor del av webbaserade teknologier och programmen som skapas publiceras på en webbserver.
        </h3>
        <p>
            Objektorienterade programmeringstekniker i Python. <br>
            Objektorienterad analys och design med UML. <br>
            Objektorienterade programmeringskonstruktioner. <br>
            Webbaserade teknologier för att bygga webbtjänster med Python. <br>
            Utvecklingsmiljö och verktyg för programvaruutveckling med Python samt <br>
            publicera kod på en driftserver och visa resultat via webbsidor
        </p>
    </div>
</div>

{% include 'footer.html' %}
