{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Kmom01</h1>
        <h2>Vilken utvecklingsmiljö använder du?</h2>
            <p>Jag använder windows10 med cygwin och atom </p>
        <h2>Var det några problem med att installera Flask?</h2>
            <p>Installationen gick smärtfritt och nästan allt fungerar som det ska. <br>
                Jag får inte .cgi att fungera lokalt. Jag kör därav allting via .py <br>
                Jag har frågat om hjälp och letat i forum men får inte igång det.
                Fick ett bra tips så kör app.py i debug mode.
            </p>
        <h2>Är du bekant med objekt och klasser sedan tidigare?</h2>
            <p>Jag har arbetat objektorienterat både i JS och Java och jag trivs <br>
                bra med det. </p>
        <h2>Har du någon erfarenhet av Bootstrap sedan tidigare?</h2>
            <p>Nej jag har ingen erfanrehet av bootstrap personligen. <br>
                En av mina hyresgäster här arbetar dock mycket med det så jag hoppas <br>
                på att kunna ha ett bra bollplank där.
            </p>
        <h2>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h2>
            <p>Det var ett alldeles lagom kursmoment som gick bra att starta och avsluta. <br>
            Bortsett från problemen med .cgi så flöt allting på och labben var bra.  </p>
        <h2>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</h2>
        <p>Jag använder mig mest av videos, böckerna och artiklar tar jag till som sista utväg <br>
            då jag har svårare att ta till mig den informationen.
        </p>
        <h1>Kmom02</h1>
        <h3>Kan du ge exempel på något användningsområde där objektorientering och arv hade passat bra?</h3>
        <p>Det finns många exempel. <br>
        Något som använts i momentet är former, där man då skapar en basklass form <br>
        och sedan låter subklasserna triangel och fyrkant ärva från den. Man skulle också kunna skapa Fordon där
        man kan låta subklasser Bil och  Motorcykel ärva grundegenskaper från Fordon.
        </p>

        <h3>Förstod du de olika relationerna och skillnaden på dem?</h3>
        <p>Saxat från kursinfo: "Arv är när klasser har en is-a relation och komposition/aggregation är <br>
        när klasserna har en has-a relation. T.ex. om klassen Person har ett
        attribut vars värde är ett objeket av klassen Dog, då är relationen “Person has-a Dog”."
        Den här delen förstod jag, tack vare den bra förklaringen med "is-a" för arv och "has-a" för komposition/aggregation</p>

        <h3>Vad innebär polymorfism inom objektorienterad programmering?</h3>
        <p>Inte helt lätt att svara på. Jag läste om det i "Lecture Notes on Object-Oriented Programming". <br>
        Vad jag kan förstå så är Overlagring en typ av polymorphism. Polymorphism
        borde kort kunna beskrivas som när något kan göra flera saker. <br>
        SOm det står i beskrivningen med operatorer där du bara kan skriva + vare sig
        det är int float eller ibland till o med text. <br>
        </p>

        <h3>Vad innebär inkapsling och publika interface inom objektorienterad programmering?</h3>
        <p>Inkapsling innebär att den är dold för förändring och skall bara kunna ändras genom dess publika interface</p>

        <h3>Hur tyckte du det gick med formulärhantering i Flask?</h3>
        <p>Jag var lite seg på att ta till mig den. Jag gillar hur vi hämtar via request. <br>
        Känns väldigt smidigt och jag ser många roliga användningsområden för det. <br>
        Till en början ville det bara inte gå in hur det fungerade, men desto mer <br>
        jag arbetar med det, desto mer naturligt blir det. </p>

        <h3>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h3>
        <p>Jag attackerade det här momentet helt fel. <br>
        Kände mig trygg efter första kursmomentet och trodde jag hade stenkoll. <br>
        Satte mig och började programmera och allt blev pannkaka. <br>
        Istället för att börja om försökte jag laga det jag skapat, <br>
        det kändes som jag grävde ett allt djupare hål för mig själv. <br>
        Tillslut gav jag upp, tog ett steg tillbaka och delade upp uppgiften i flera moment <br>
        Detta gick bättre och uppgiften löstes efter det på rimlig tid, (ca 8h till)</p>

        <h3>Gjorde du extrauppgiften i “Skapa former”?</h3>
        <p>Nej jag utförde inte extrauppgiften. <br>
        Idag var genomgången av kmom03, så det kändes passande att gå vidare med uppgifterna. </p>

        <h2>Kmom03</h2>


        <h3>Är du bekant med UML sedan tidigare?</h3>
        <p>Nej jag har ingen tidigare erfanrehet, detta var helt nytt för mig.</p>


        <h3>Är du bekant med unittester sedan tidigare?</h3>
        <p>Svårt att svara långt på dessa frågor, Nej jag har ingen tidigare erfanrehet, detta var helt nytt för mig.</p>


        <h3>Kan du se nyttan med UML och tester inom ramen för ett projekt?</h3>
        <p>Absolut, när saker blir större och man kanske sitter med en liten del av ett större projekt <br>
        är det ändå viktigt att veta vidden av implementering av ens egen del. <br>
        UML och tester kan säkerställa att man verkligen skapar en programdel som håller för implementering. </p>


        <h3>Vad tycker du om objektorienterad programmering än så länge?</h3>
        <p>Jag är lite besviken på mig själv. <br>
        Jag har läst Java objektorienterad tidigare, men jag känner inte alls att jag har den <br>
        kontrollen på oop som jag hade trott innan. <br>
        Det blir snabbt ganska invecklat och ibland känns det onödigt krångligt <br>
        det är också lätt att tänka väldigt olika angående uppbyggnaden av klasserna.</p>


        <h3>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h3>
        <p>Kursmomentet upplevdes som lite stort. Först ganska mycket text och film att gå igenom <br>
        utöver det skulle vi skapa ett kortspel, ett testprogram ett klassdiagram och ett sekvensdiagram <br>
        Kanske hade det räckt med spel och test i detta kursmoment och inte blanda in även UML.
        Annars gick det ok att komma igång, jag gjorde samma fel som vanligt och bröt inte ner <br>
        programmet i mindre bitar innan jag satte igång, så min start var lite klumpig, men det löste sig. </p>


        <h3>Överskuggade du någon metod i “Kortspelet War”?</h3>
        <p>Nej det har jag inte, jag överskuggar dock __str__ operatorn i Card
        till att skriva ut på ett visst sätt. </p>


        <h3>Hur gick det med sekvensdiagrammet?</h3>
        <p>Jag är väldigt osäker på hur det gick. <br>
        Det hela känns lite flummigt upplagt, jag är inte säker på hur det ska vara helt enkelt. <br>
        Jag tycker mig dock kunna utläsa hur programmet skall vara uppbyggt genom <br>
        att läsa mitt sekvensdiagram, så jag tror jag har lyckats ok. </p>


    </div>
</div>

{% include 'footer.html' %}
