<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ data.title }}</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ data.links[0][1] }}">{{ data.owner }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {%- if request.path == data.links[0][1] %} class="active" {% endif %}><a href="{{ data.links[0][1] }}">{{ data.links[0][0] }}</a></li>
            <li {%- if request.path == data.links[1][1] %} class="active" {% endif %}><a href="{{ data.links[1][1] }}">{{ data.links[1][0] }}</a></li>
            <li {%- if request.path == data.links[2][1] %} class="active" {% endif %}><a href="{{ data.links[2][1] }}">{{ data.links[2][0] }}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
