{% include "header.html" %}

<form role="form" method="POST" action="{{ url_for('add_account') }}">
    <div class="form-group">
        <label for="name">Namn: </label>
        <input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="balance">Belopp: </label>
        <input type="text" name="balance" class="form-control" />
    </div>
    <div class="form-group">
        <label for="type">
            <input type="radio" name="type" value="bank" />Bankkonto
            <input type="radio" name="type" value="checking" />Checkkonto
        </label>
    </div>
    <button type="submit" class="btn btn-default">Lägg till</button>
</form>

{% include "footer.html" %}